body {
    background-image: url('../img/louvre_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    min-height: 100vh;
}

label {
    display: block;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
}

#booking_peoples label.required {
    display: none;
}

.card {
    background: rgba(255,255,255,0.9);
}

.alert {
    margin-bottom: 0;
}

.alert ul {
    list-style-type: circle;
    padding-left: 15px;
    margin-bottom: 0;
}

.form td, .form th {
    width: 15% !important;
    text-align: left;
}

#booking_people input[type="date"] {
    height: 38px;
}

.form select.form-control-lg {
    height: 50px !important;
}

.peoples_head .row > div,
.fields > div {
    border-right: 1px solid #ddd;
}


@media (max-width: 575px) {


}

@media (max-width: 767px) {

}

@media (max-width: 991px) {
    * {
        text-align: left !important;
    }

    button {
        text-align: center !important;
    }

    .input-group .input-group-addon:first-child {
        display: none;
    }

    .peoples_head {
        display: none;
    }

    #booking_peoples > div {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }
}

@media (min-width: 991px) {
    #booking_peoples label {
        display: none;
    }
}

@media (max-width: 1199px) {

}
