{% block _booking_peoples_entry_widget %}

    <div class="col-12">
        <div class="row">

            <div class="col-12">
                <hr class="mb-0 mt-0">
                <div class="row fields mt-2 mb-2">
                    <div class="col-12 col-lg-2">
                        <label for="people_firstname">Prénom</label>
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control w-100', 'placeholder':'Prénom'}}) }}
                    </div>
                    <div class="col-12 col-lg-2">
                        <label for="people_lastname">Nom</label>
                        {{ form_widget(form.lastname, {'attr': {'class': 'form-control w-100', 'placeholder':'Nom de famille'}}) }}
                    </div>
                    <div class="col-12 col-lg-2">
                        <label for="people_country">Pays</label>
                        {{ form_widget(form.country, {'attr': {'class': 'form-control w-100'}}) }}
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="people_birthday">Date de naissance</label>
                        {{ form_widget(form.birthday, {'attr': {'class': 'form-control w-100'}}) }}
                    </div>
                    <div class="col-9 col-lg-2">
                        <label for="people_reducedPrice">Tarif réduit</label>
                        {{ form_widget(form.reducedPrice, {'attr': {'class': 'form-control w-100'}}) }}
                    </div>
                </div>

                {% if form.firstname.vars.errors is not empty
                or form.lastname.vars.errors is not empty
                or form.country.vars.errors is not empty
                or form.birthday.vars.errors is not empty
                %}
                    <div class="row">
                        <div class="col-12">
                            <hr class="mb-1 mt-0">
                            <div class="alert alert-danger mb-2">
                                {% if form.firstname.vars.errors is not empty %}{{ form_errors(form.firstname) }}{% endif %}
                                {% if form.lastname.vars.errors is not empty %}{{ form_errors(form.lastname) }}{% endif %}
                                {% if form.country.vars.errors is not empty %}{{ form_errors(form.country) }}{% endif %}
                                {% if form.birthday.vars.errors is not empty %}{{ form_errors(form.birthday) }}{% endif %}
                            </div>
                        </div>

                    </div>
                {% endif %}
            </div>


        </div>


    </div>


{% endblock %}