{% extends "TLABLouvreBundle:Layout:base.html.twig" %}

{% block page_title %}Billeterie en ligne{% endblock %}

{% block page_body %}

    <div class="well">

        {{ form_start(form, {'attr': {'class': 'form'}}) }}

            <div class="row">
                <div class="col-12 col-lg-6">
                    <label for="booking_date" class="form-label">A quelle date souhaitez-vous réserver votre place ?</label>
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        {{ form_widget(form.date, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>
                    <div>
                        {% if form.date.vars.errors is not empty %}<div class="col-12 alert alert-danger">{{ form_errors(form.date) }}</div>{% endif %}
                        {% if errors is not empty %}<div class="col-12 alert alert-danger">{% for error in errors %}{{ error.message }}{% endfor %}</div>{% endif %}
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <label for="booking_type" class="form-label">Type de réservation</label>
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="fa fa-hourglass-half"></i></span>
                        {{ form_widget(form.type, {'attr': {'class': 'form-control form-control-lg '}}) }}
                    </div>
                    <div>
                        {% if form.type.vars.errors is not empty %}<div class="col-12 alert alert-danger">{{ form_errors(form.type) }}</div>{% endif %}
                    </div>
                </div>

                <div class="col-12">
                    <label for="booking_peoples" class="form-label">Liste des personnes</label>
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="fa fa-users"></i></span>


                        <div class="row">
                            <div class="col-12">
                                <div class="bg-dark text-white peoples_head">
                                    <div class="col-12">
                                        <div class="row">

                                            <div class="col-12 col-lg-2 pt-2 pb-2">Prénom</div>
                                            <div class="col-12 col-lg-2 pt-2 pb-2">Nom</div>
                                            <div class="col-12 col-lg-2 pt-2 pb-2">Pays</div>
                                            <div class="col-12 col-lg-3 pt-2 pb-2">Date de naissance</div>
                                            <div class="col-10 col-lg-2 pt-2 pb-2">Tarif réduit</div>
                                            <div class="col-2 col-lg-1"></div>
                                        </div>
                                    </div>

                                </div>
                                {{ form_widget(form.peoples, {'attr': {'class': 'bg-white'}}) }}
                            </div>

                        </div>

                    </div>
                    <div>
                        {% if form.peoples.vars.errors is not empty %}<div class="col-12 alert alert-danger">{{ form_errors(form.peoples) }}</div>{% endif %}
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Adresse E-mail : example@contact.com'}}) }}
                    </div>
                    <div>
                        {% if form.email.vars.errors is not empty %}<div class="col-12 alert alert-danger">{{ form_errors(form.email) }}</div>{% endif %}
                    </div>
                </div>
            </div>









        {% if form.vars.errors is not empty %}<div class="col-12 alert alert-danger">{{ form_errors(form) }}</div>{% endif %}


        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-block'}}) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('assets/js/booking.js') }}"></script>
{% endblock %}