{% extends "TLABLouvreBundle:Layout:base.html.twig" %}

{% block page_title %}Résumé de votre commande{% endblock %}

{% block page_body %}

    <div class="well">
        <div class="row">

            <div class="col-12">
                <table class="table table-bordered table-responsive bg-white">
                    <thead>
                        <tr>
                            <th>Date de réservation</th>
                            <th>Formule</th>
                            <th>Nombre de personnes</th>
                            <th>Email de contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ booking.date|date('d/m/Y') }}</td>
                            <td>{{ booking.type==1 ? 'Journée Complète' : 'Demi-journée (A partir de 14H00)' }}</td>
                            <td>{{ booking.numberOfPeoples }}</td>
                            <td>{{ booking.email }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-responsive bg-white">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>Age</th>
                        <th>Pays</th>
                        <th>Tarif réduit</th>
                        <th>Prix HT</th>
                        <th>Prix TTC</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for people in booking.peoples %}
                        <tr>
                            <td>{{ people.lastname }}</td>
                            <td>{{ people.firstname }}</td>
                            <td>{{ people.birthday|date('d/m/Y') }}</td>
                            <td>{{ people.age }}</td>
                            <td>{{ people.country }}</td>
                            <td>{{ people.reducedPrice == 1 ? 'Oui' : 'Non' }}</td>
                            <td>{{ people.price - people.price*0.2 }}€</td>
                            <td>{{ people.price }}€</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                    <thead>
                    <tr>
                        <th colspan="8">Prix Total : </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="6"></td>
                        <td class="bg-light">{{ booking.totalPrice - booking.totalPrice*0.2 }}€</td>
                        <td class="bg-success text-white">{{ booking.totalPrice }}€</td>
                    </tr>
                    </tbody>
                </table>

                {% for message in app.session.flashbag.get('paiement_error') %}
                    <p class="alert alert-danger mb-2 mt-2">Erreur lors du paiement : {{ message }}</p>
                {% endfor %}
                
                <div class="btn-group w-100">
                    <a href="{{ path('tlab_louvre_edit_booking', {'id': booking.id}) }}" class="btn btn-light btn-block mt-2">Modifier la commande</a>
                    <button class="btn btn-success btn-block" data-toggle="modal" data-target="#stripe_paiement">Valider la commande</button>
                </div>

                {# Piament par stripe #}
                <div class="modal fade" id="stripe_paiement" tabindex="-1" role="dialog" aria-labelledby="stripe_paiement" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Informations de paiement</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                {{ form_start(form, {'attr': {'class': 'form', 'id': 'stripe_form'}}) }}

                                <div class="form-group">

                                    <div class="form-group">
                                            {{ form_widget(form.token) }}
                                            {{ form_rest(form) }}
                                    </div>

                                    <div class="form-group">
                                        <div id="card-element" class="form-control">
                                        </div>
                                    </div>


                                    <!-- Used to display Element errors -->
                                    <div id="card-errors" role="alert"></div>
                                </div>

                                <input type="submit" value="Confirmer la commande" class="btn btn-block btn-primary">

                                {{ form_end(form) }}


                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_MjZUoMUoBaccqRZ17g40c2aA');
        var elements = stripe.elements();
        var card = elements.create('card');

        card.mount('#card-element');

        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        var form = document.getElementById('stripe_form');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            $('input[type="submit"]').attr('disabled', true);

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the user if there was an error
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server
//                    stripe.TokenHandler(result.token);
                    console.log(result.token);

                    $('#tlab_louvrebundle_paiement_token').val(result.token.id);

                    $('#stripe_form').submit();
                }
            });
        });

    </script>
{% endblock %}
