{% extends "TLABLouvreBundle:Layout:base.html.twig" %}

{% block page_title %}Cette réservation a déja été payée{% endblock %}

{% block page_body %}

    <div class="well">
        <div class="row">
            <div class="col-12">

                
                <p class="text-center">Rendez-vous dans votre boîte mail pour récupérer votre tiquet</p>


            </div>

        </div>
    </div>

{% endblock %}
