{% extends "TLABLouvreBundle:Layout:base.html.twig" %}

{% block page_title %}Votre billet vous a été envoyé par E-mail{% endblock %}

{% block page_body %}

    <div class="well">
        <div class="row">
            <div class="col-12">

                
                <p class="text-center">Merci de votre confiance et à très bientôt !</p>


            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_MjZUoMUoBaccqRZ17g40c2aA');
        var elements = stripe.elements();
        var card = elements.create('card');

        card.mount('#card-element');

        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        var form = document.getElementById('stripe_form');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            $('input[type="submit"]').attr('disabled', true);

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the user if there was an error
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server
//                    stripe.TokenHandler(result.token);
                    console.log(result.token);

                    $('#tlab_louvrebundle_paiement_token').val(result.token.id);

                    $('#stripe_form').submit();
                }
            });
        });

    </script>
{% endblock %}
