<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>


        <img src="https://www.digitourist.com/images/logos/98899881.jpg" alt="Logo musée du Louvre" width="90" height="90">

        <h1>Félicitation pour votre réservation.</h1>

        <p>
            Munissez vous du code ci-dessous pour valider votre entrée le jour de votre visite.
        </p>

        <p>Code de réservation : <strong>{{token}}</strong></p>


    </body>
</html>