<!DOCTYPE html>
<html lang="fr">

    <head>
        {# Metas obligatoires #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {# Titre de la page #}
        <title>{% block title %}{% endblock %} - Musée du Louvre</title>

        {# CSS #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" >
        {% block css %}{% endblock %}

        {# Head Javascript #}
        {% block head_js %}{% endblock %}
    </head>


    <body class="d-flex align-items-center">

        <div class="container">
            <div class="row justify-content-sm-center mt-5 mb-5">
                <div class="col-12 col-sm-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h1 class="card-title">{% block page_title %}{% endblock %}</h1>
                        </div>
                        <div class="card-body">
                            {% block page_body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {# Javascript #}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        {% block js %}{% endblock %}
    </body>
</html>
